.container {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
}

.content {
    margin: 10px;
}

button {
    border-radius: 25px;;
}

.title {
    font-size: xx-large;
}